/* Mulish font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

:root {
      /* mulish-f-family */
    --mulish-f-family : 'Mulish', sans-serif;

    /* Colors  */
    --color-orange: #FF5400;
    --normal-black: rgba(19, 19, 24, 0.70);
    --light-black: rgba(19, 19, 24, 0.35);
    --light-gray: rgba(19, 19, 24, 0.05);
    --dark-black: rgb(19, 19, 24);
    --color-white: #FFF;

    /* Font size  */
    --font-40: 40px;
    --font-36: 36px;
    --font-28: 28px;
    --font-24: 24px;
    --font-18: 18px;
    --font-16: 16px;


   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
  }
.section {
  width: 100%;
  margin: 4rem 0;
  overflow: hidden;
}
.title {
  font-size: var(--font-40);
  font-family: var(--mulish-f-family);
  text-align: center;
  color: var(--dark-black);
  margin-bottom: 1rem;
}
.title-description {
  font-size: var(--font-18);
  color: var(--normal-black);
  /* width: 500px; */
  text-align: center;
  margin-bottom: 3rem;
}
  body{

  }
  nav{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 75px;
   background: #FFF;
   z-index: 2;
  }
  nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1170px;
    background: #FFF;
    margin: auto;
   }
   nav .navbar .logo {
    display: flex;
    align-items: center;
   }
   nav .navbar .logo img {
    width: 48px;
    height: 56.008px;
    margin-right: 10px;
   }
   nav .navbar .logo a{
  color: var(--dark-black);
  font-family: var(--mulish-f-family);
  font-size: var(--font-36);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  }
  nav .navbar .logo a span {
    color: var(--color-orange);
  }
  nav .navbar .nav-items{
    display: flex;
  }
  nav .navbar .nav-items li{
    list-style: none;
    margin: 0 15px;
  }
  .navbar .nav-items li a{
    color: var(--normal-black);
    font-size: var(--font-18);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
    text-align: center;
  }
  .navbar .nav-items li:first-child a {
    color: var(--color-orange);
    font-weight: 700;
  }

    /* Landing banner  */
  #wrapper{
    margin-top: 7rem;
    max-width: 1170px;
    margin: 6rem auto 0;
    position: relative;
    
  }
  #landing-banner {
    height: 500px;
    background-image: url("images/landing-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#landing-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    border-radius: 22px;
}
#landing-contents {
  /* max-width: 600px; */
  text-align: center;
  z-index: 1;
}
#landing-contents h1 {
  color: var(--color-white);
  font-family: var(--mulish-f-family);
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1rem;
}
#landing-contents p {
  color: var(--color-white);
  text-align: center;
  font-family: Mulish;
  font-size: var(--font-16);
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}
#landing-select {
  /* width: 800px; */
  /* display: inline-block; */
  z-index: 1;
  margin-top: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
}
#landing-select form {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
}
.landing-select-item {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--color-white);
  padding: 0 8px;
  color: var(--normal-black);
}

#landing-select #landing-submit {
  width: 174px;
  height: 52px;

  /* flex-shrink: 0; */
  border-radius: 8px;
  background: var(--color-orange);
  /* padding: 0 8px; */
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;

  
}
#landing-select #landing-submit input {
  border: none;
  margin-left: 5px;
  background-color: transparent;
  color: var(--color-white);
}

/* popular-tours */
#popular-tours {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  gap: 40px;
}
#tour-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: normal;
  }


#popular-tours #tour-details h1 {
  color: var(--dark-black);
  font-family: Mulish;
  font-size: var(--font-40);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#popular-tours #tour-details p,#popular-tours #tour-details ul {
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: var(--font-16);
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#popular-tours #tour-details ul {
  margin-left: 1.7rem;
}
#popular-tours #tour-details ul li {
  margin-bottom: 9px;
}
#popular-tours #tour-details a {
  text-decoration: none;
  background: var(--color-orange);
  padding: 6px 0px;
  border-radius: 5px;
  color: var(--color-white);
  width: 140px;
  text-align: center;
}

/* choose-destiny */
#choose-destiny {

}
#choose-destiny-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
#choose-destiny-gallery .maldives{
  grid-area: m;
  position: relative;
}
/* #choose-destiny-gallery .maldives::before,
#choose-destiny-gallery .indonesia::before,
#choose-destiny-gallery .slrilanka::before,
#choose-destiny-gallery .america::before,
#choose-destiny-gallery .kashmir::before,
#choose-destiny-gallery .bangladesh::before,
#choose-destiny-gallery .bandarban::before
 {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.1);
} */
#choose-destiny-gallery .maldives::after {
  content: "Maldives";

}
#choose-destiny-gallery .indonesia::after {
  content: "Indonesia";

}
#choose-destiny-gallery .slrilanka::after {
  content: "Slrilanka";

}
#choose-destiny-gallery .america::after {
  content: "America";

}
#choose-destiny-gallery .kashmir::after {
  content: "Kashmir";

}
#choose-destiny-gallery .bangladesh::after {
  content: "Bangladesh";

}
#choose-destiny-gallery .bandarban::after {
  content: "Bandarban";

}
#choose-destiny-gallery .maldives::after,
#choose-destiny-gallery .indonesia::after,
#choose-destiny-gallery .slrilanka::after,
#choose-destiny-gallery .america::after,
#choose-destiny-gallery .kashmir::after,
#choose-destiny-gallery .bangladesh::after,
#choose-destiny-gallery .bandarban::after {
  font-size: var(--font-28);
  color: var(--color-white);
  font-weight: bold;
  font-family: var(--mulish-f-family);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#choose-destiny-gallery .indonesia {
  grid-area: i;
  position: relative;
}

#choose-destiny-gallery .slrilanka {
  grid-area: s;
  position: relative;
}

#choose-destiny-gallery .america {
  grid-area: a;
  position: relative;
}

#choose-destiny-gallery .kashmir {
  grid-area: k;
  position: relative;
}

#choose-destiny-gallery .bangladesh {
  grid-area: bd;
  position: relative;
}

#choose-destiny-gallery .bandarban {
  grid-area: bn;
  position: relative;
}

#choose-destiny-gallery {
  margin-top: 3rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto); 
   grid-template-areas:
    "m m m m m i i i i i"
    "s s s a a a a a k k"
    "bd bd bd bd bn bn bn bn bn bn";

}
.maldives {

}
#choose-destiny-gird-item {

}

/* why-us */
#why-us {

}
#why-us-cards {
  height: 600px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;

}
#why-us-cards-item {
  flex-basis: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 16px;
}
#why-us-cards-item:nth-child(1) {
  border: 1px solid rgba(251, 181, 99, 0.20);
  background-color: rgba(251, 181, 99, 0.05);
}
#why-us-cards-item:nth-child(2) {
  border: 1px solid rgba(41, 206, 246, 0.20);
  background-color: rgba(41, 206, 246, 0.05);
}
#why-us-cards-item:nth-child(3) {
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}
#why-us-cards-item:last-child {
  flex-grow: 0 !important;
}
#why-us-cards-item img {
  width: 64px;
  height: 64px;
}
#why-us-cards-item h2{
  color: var(--dark-black);
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#why-us-cards-item p{
  color: var(--normal-black);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}

/* subscribe */
#subscribe {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
#subscribe-content {
  padding: 1.3rem;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#subscribe-content h2 {
  color: var(--dark-black);
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
#subscribe-content p {
  color: var(--normal-black);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#subscribe-content #subcribe-form{
  padding-top: 2.5rem;
  border-top: 1px solid rgb(209, 209, 209);
}
#subscribe-content form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  
}
#subscribe-content form input {
  flex-grow: 1 !important;
  padding: 15px 10px;
  font-size: var(--font-16);
  background-color: var(--light-gray);
  color: var(--light-black);
  border: none;
  border-radius: 5px;
}
#subscribe-content form input:last-child {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}
#subscribe-img {
  flex-grow: 1;
}
#subscribe-img img {
  width: 100%;
}

/* Footer  */
#footer {
width: 100%;
background-color: var(--light-gray);
padding: 4rem 0;
}
#footer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
#footer-content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
#footer-content-logo h2 {
  margin-bottom: 0 !important;
}
#footer-content-logo img {
  width: 40px;
  height: 46px;
}
#footer-content-logo span {
  color: var(--color-orange);
}
#footer-content-detail {
  color: var(--normal-black);
  margin-bottom: 1.5rem;
}
#footer-content #social-icons a {
  text-decoration: none;
  font-size: 22px;
  padding: 0 16px;
  color: var(--dark-black)
}
#footer-content #copyright {
  color: var(--normal-black);
  margin-top: 1.7rem;
  padding: 24px 0;
  border-top: 1px solid var(--light-gray);
  font-family: var(--mulish-f-family);
  font-size: 14px;
}